@import '../../variables.module.scss';

.PaginationBox {
  margin-top: 20px;
  text-align: center;
}

.PaginationArrowBox {
  border: 2px solid #{$white};
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  border-radius: #{$borderRadius};
  cursor: pointer;
  margin: 0 10px;
}

.PaginationArrow {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.PaginationArrowPrev {
  @extend .PaginationArrow;
  transform: rotate(180deg);
}

.PaginationArrowNext {
  @extend .PaginationArrow;
}
