@import '../../variables.module.scss';

.MovieLikesBox {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 15px;
}
.MovieLikeIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
  cursor: pointer;
  color: #{$white};
}
.MovieCounter {
  display: inline-block;
  color: #{$white};
  margin-left: 5px;
  font-size: 11px;
  vertical-align: text-top;
}
.RotateIcon {
  transform: rotate(180deg);
}
.CheckedIcon {
  color: red;
}