$small-desktop: 'screen and (max-width: 1000px)';
$phone: 'screen and (max-width: 766px)';
$small-phone: 'screen and (max-width: 480px)';
$white: '#ccc';

* {
  box-sizing: border-box;
}

.Wrapper {
  min-height: 100vh;
  background-color: #333;
}
.Content {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding: 40px 10px;
}
.Movies {
  margin: 0 -10px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.Movie {
  display: inline-block;
  width: 33.33%;
  padding: 0 10px;
  margin-bottom: 20px;

  @media #{$phone} {
    width: 50%;
  }

  @media #{$small-phone} {
    width: 100%;
  }
}
.MovieImage {
  width: 100%;
  vertical-align: bottom;
}
.MovieImageBox {
  position: relative;
}
.MovieImageFader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.MovieImageBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  padding: 10px;
}
.MovieLikesBox {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 15px;
}
.MovieLikeIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
  cursor: pointer;
}
.MovieCounter {
  display: inline-block;
  color: #{$white};
  margin-left: 5px;
  font-size: 11px;
}
.MovieLike {
  @extend .MovieLikeIcon;
  background-image: url("./assets/like_icon.svg");
  margin-bottom: 6px;
}
.MovieDislike {
  @extend .MovieLikeIcon;
  background-image: url("./assets/like_icon.svg");
  transform: rotate(180deg);
}
.MovieLikeCounter {
  @extend .MovieCounter;
  vertical-align: super;
}
.MovieDislikeCounter {
  @extend .MovieCounter;
  vertical-align: top;
}
.MovieTextBox {
  padding: 15px;
  background-color: #171717;
}
.MovieTitle {
  font-size: 16px;
  font-weight: 900;
  color: #{$white};
}
.MovieCategory {
  font-size: 12px;
  padding: 5px;
  border: 1px solid #{$white};
  border-radius: 5px;
  display: inline-block;
  color: #{$white};
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 8px;
}
.MovieDelete {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url("./assets/trash.svg");
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 1;
  background-size: cover;
}
.Category {
  color: #{$white};
}

.Checkbox {
  opacity: 0;
  margin: 0;
  position: relative;
}

.Checkbox + label {
  min-height: 20px;
  display: inline-block;
  margin-left: -20px;
  padding: 0 0 0 20px;
  cursor: pointer;
  background-image: url("./assets/checkbox.svg");
  background-repeat: no-repeat;
}

.Checkbox:checked + label {
  background-image: url("./assets/checkbox_checked.svg");
  background-repeat: no-repeat;
}





/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */
